NODE_ENV=development

CORS_ORIGIN=http://localhost:3000

# API Gateway
GATEWAY_PORT=3000

# Service Ports
USER_SERVICE_PORT=3001
COURSE_SERVICE_PORT=3002
VIDEO_SERVICE_PORT=3003
PAYMENT_SERVICE_PORT=3004
REVIEW_SERVICE_PORT=3005
PROGRESS_SERVICE_PORT=3006
NOTIFICATION_SERVICE_PORT=3007

JWT_SECRET=supersecret
JWT_EXPIRES_IN=8h

REDIS_URL=redis://localhost:6380
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=

DATABASE_URL="postgresql://user_service:user_password@localhost:5433/user_service?schema=public"
