NODE_ENV=development

CORS_ORIGIN=http://localhost:8000

# API Gateway
GATEWAY_PORT=3000

# Service Ports
USER_SERVICE_PORT=3001
COURSE_SERVICE_PORT=3002
VIDEO_SERVICE_PORT=3003
PAYMENT_SERVICE_PORT=3004
REVIEW_SERVICE_PORT=3005
PROGRESS_SERVICE_PORT=3006
NOTIFICATION_SERVICE_PORT=3007

JWT_SECRET=supersecret
JWT_EXPIRES_IN=8h

# Redis (choose one)
# - If using docker-compose on same machine (host port 6380 -> container 6379)
# REDIS_URL=redis://localhost:6380
# - If running inside docker-compose network
# REDIS_URL=redis://redis:6379

# Postgres (choose one)
# - If using docker-compose on same machine (host port 5433 -> container 5432)
# DATABASE_URL="postgresql://postgres:password@localhost:5433/user_service?schema=public"
# - If running inside docker-compose network
# DATABASE_URL="postgresql://postgres:password@user-db:5432/user_service?schema=public"
